* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
}

.timeline {
  position: relative;
  max-width: 1200px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 4px;
  background-color: red;
  top: 0;
  bottom: 0;
  left: 10%;
  margin-left: -2px;
}

.container {
  padding: 5px 20px;
  position: relative;
  background-color: inherit;
  width: 100%;
}

.container::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  right: -5px;
  background-color: white;
  border: 4px solid red;
  top: 30px;
  border-radius: 50%;
  z-index: 1;
}

.right {
  left: 10%;
}

.right::after {
  left: -10px;
}


.content {
  padding: 5px 5px;  
  position: relative;
  border-radius: 6px;
  /* border: 1px solid red; */
}

.content > h3 {
    color: black;
}

strong {
    text-decoration: underline;
}


@media screen and (max-width: 600px) {
  .timeline::after {
  left: 31px;
  }

  .timeline-container {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  }
  
  .timeline .right {
  left: 2%;
  }

  .timeline .right::after {
  left: 15px;
  }
  
}